{% extends 'shop/basic.html' %}
{% block title %} {{product.product_name}} | My Awesome Cart {% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">   
                <img src="/media/{{product.image}}" width="150px", height="300px">
            </div>
            <div class="row">
                <button class="btn btn-primary my-2">Buy Now</button>
                <button class="btn btn-primary">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    if(localStorage.getItem('cart') == null){
        var cart={};
    }
    else{
        cart=JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    $('.cart').click(function(){
        var idstr = this.id.toString();
        if (cart[idstr] != undefined){
            cart[idstr] = cart[idstr]+1
        }
        else{
            cart[idstr] = 1
        }
        console.log(cart)

        let total_cart_items = 0;
        for (let value in cart) {
            total_cart_items += cart[value];
        }
        localStorage.setItem('cart', JSON.stringify(cart))
        document.getElementById('cart').innerHTML = total_cart_items;
    })

    const cart1 = document.getElementById("popcart");
    cart1.setAttribute('data-bs-content', '<h5>Cart</h5>');
    const popover = new bootstrap.Popover(cart1, { html: true });
</script>
{% endblock %}